:root {
    --bg-color-1: #070419;
    --bg-color-2: #374299;
    --header-bg-color: #e41e6d;
    --header-text-color: #000000;
    --text-color: #ffffff;
    --card-glow-color-1: #e00052;
    --card-glow-color-2: #0078db;


    --h1-size: 1.5em;
    --h2-size: 1.4em;
    --h3-size: 1.3em;
    --text-size: 1em;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    min-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 100%;
    background-image: linear-gradient(45deg, var(--bg-color-1), var(--bg-color-2));
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.btn {
    display: inline-block;
    outline: none;
    border: none;
    text-decoration: none;
    padding: 1em;
    border-radius: 1em;
    font-size: var(--text-size);
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.btn-profile {
    background-color: var(--header-bg-color);
    color: var(--text-color);
    margin-right: 1em;
}

.btn-flip {
    background-color: var(--text-color);
    color: var(--header-text-color);
}

section {
    padding: 1em;

    & h1 {
        background-color: var(--header-bg-color);
        color: var(--header-text-color);
        padding: 1em;
        width: 100%;
        margin-bottom: 1em;
        border-radius: 1em;
    }

    & .card-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        width: 100%;

        & .card-item {
            background-image: url('/assets/background.avif');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 1em;
            border-radius: 1em;
            border: 0.1em solid var(--bg-color-2);
            margin-bottom: 1em;
            width: 100%;
            height: 25em;
            display: flex;
            flex-direction: column;
            justify-content: end;
            overflow: hidden;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
            position: relative;

            & ::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(45deg, var(--card-glow-color-1), var(--card-glow-color-2));
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                opacity: 0.2;
                z-index: -1;
            }

            & .card-content {
                z-index: 1;

                & h2 {
                    color: var(--text-color);
                    text-align: center;
                    margin-bottom: 0.5em;
                }

                & ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    list-style-type: none;

                    & li {
                        color: var(--text-color);
                        margin-right: 1em;
                        position: relative;

                        & :nth-last-child() {
                            margin-right: 0;
                        }
                    }
                }
    
                & .btn-row {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin-top: 1em;
                }
            }
        }
    }
}