<nav>
    <section>
        <h2>Squad Page</h2>
        <button><i class="fa-solid fa-bars"></i> Menu</button>
    </section>
    <ul>
        <% squads.forEach(squad => { %>
            <li><a href="./<%= squad.id %>">Squad <%= squad.name %></a></li>
        <% }) %>
    </ul>
</nav>